html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

* {
 margin: 0px;
 padding: 0px;
 outline: 2px solid white;
 }

a {
 text-decoration: none;
 color: black;
}

body {
 background-color: #2e3541;
}

main {
 justify-content: center;
    align-items: center;
    display: flex;
    
    padding-top: 200px;
    padding-bottom: 300px;
    padding-left: 500px;
    padding-right: 500px;
}

.card.container {
    height: 500px;
    width: 700px;
    padding: 50px 40px;
    background-color: whitesmoke;
    border-radius: 15px;

}

.card.container .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card.container .title {
    justify-content: space-between;
}

.card.container .profile {
    background-color: #2e3541;
    height: 200px;
    width: 200px;
}

.card.container .details {
    font-size: 20px;
}