html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

* {
 margin: 0px;
 padding: 0px;
 outline: 2px solid white;
 }

a {
 text-decoration: none;
 color: black;
}

body {
 background-color: #2e3541;
}

main {
 justify-content: center;
    align-items: center;
    display: flex;
}

.card.container {
    margin: 200px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 300px;


    height: 500px;
    width: 700px;
    padding: 50px 40px;
    background-color: whitesmoke;
    border-radius: 15px;

    /* display: flex; */
}

.card.container .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card.container .title {
    justify-content: space-between;
}

.card.container .profile {
    background-color: #2e3541;
    height: 150px;
    width: 110px;
}

